# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor/IDE specific files and directories (modify these based on your development environment)
.vscode/
.idea/
*.log

# Compiled Python files
__init__.py

# Compiled extensions
*.so

# Compiled Python files
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Windows specific
Thumbs.db

# macOS specific
.DS_Store

# Temporary files
*.tmp
*.tmp.*
*.swp
*.swo
