# Compiled Python files
__pycache__/

# Byte-compiled files
*.pyc


# Ignore any log files (adjust this as needed)
*.log

# Ignore any virtual environment folders
venv/

# Ignore PyCharm/IntelliJ IDEA project files
.idea/
